@model BICT_POC.Models.ViewModels.StudentVM

@{
    ViewBag.Title = "Assign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assign</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-12 border-bottom">
            <h2 class="text-primary">Assign</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    @Html.LabelFor(model => model.Student.FullName, htmlAttributes: new { @class = "control-label col-md-2" })

                </div>
                <div class="col-8">
                   @* @Html.DropDownListFor(m => m.Student.Id,Model.StudentLists, "--Select Student", new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.StudentLists, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    @Html.LabelFor(model => model.Student.Course, htmlAttributes: new { @class = "control-label col-md-2" })

                </div>
                <div class="col-8">
                    @Html.DropDownListFor(s => s.Student.CourseId, Model.CoursesList, "--Select Course", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CoursesList, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts{
    <script src="~/Scripts/Customjs/assign.js"></script>
}