@model IEnumerable<BICT_POC.Models.Student>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Students List</h2>
    </div>
    <div class="col-6 text-right">
        <button class="btn btn-success"><i class="fas fa-plus"></i>&nbsp; @Html.ActionLink("Register New Student", "Create")</button>
    </div>
</div>
<br />
<div class="p-4 border rounded">
    <table  class="table table-stripped table-bordered" style="width:100%">
        <thead class="thead-dark">
            <tr class="table-info">
                @*<th>FirstName</th>
                <th>LastName</th>
                <th>Gender</th>
                <th>Class</th>
                <th>Course</th>
                <th>AcademicYear</th>
                <th>Guidian</th>
                <th>GuidianContact</th>
                <th></th>*@
                <th>@Html.DisplayNameFor(m => m.FirstName)</th>
                <th>@Html.DisplayNameFor(m => m.LastName)</th>
                <th>@Html.DisplayNameFor(m => m.Gender)</th>
                <th>@Html.DisplayNameFor(m => m.Class)</th>
                <th>@Html.DisplayNameFor(m => m.Course)</th>
                <th>@Html.DisplayNameFor(m => m.AcademicYear)</th>
                <th>@Html.DisplayNameFor(m => m.Guidian)</th>
                <th>@Html.DisplayNameFor(m => m.GuideanContact)</th>
            </tr>
            @foreach (var item in Model)
            {
        <tr>
            <td>@Html.DisplayFor(m => item.FirstName)</td>
            <td>@Html.DisplayFor(m => item.LastName)</td>
            <td>@Html.DisplayFor(m => item.Gender)</td>
            <td>@Html.DisplayFor(m => item.Class)</td>
            <td>@Html.DisplayFor(m => item.Course)</td>
            <td>@Html.DisplayFor(m => item.AcademicYear)</td>
            <td>@Html.DisplayFor(m => item.Guidian)</td>
            <td>@Html.DisplayFor(m => item.GuideanContact)</td>
            <td><button class="btn btn-primary" value="Assign">Assign Course</button></td>
        </tr>
                
            }
        </thead>
       
    </table>
</div>
@section Scripts{
    <script src="~/Scripts/Customjs/student.js"></script>
}

